<div class="col-lg-20">

    <div class="row">

        <div class="card">

            <h4><b>Top Selling Products</b></h4>

            <!-- <h5 class="card-subtitle mb-1"> -->

            <h5 class="card-subtitle mb-2 text-muted">

                <section class="tp-section matprogress">
                    <div>
                    <label class="tp-margin" style="width:200px;" >Health Protect Plus &nbsp; <progress class="colored" min="0" max="100" value="63" ></progress>&nbsp; 455 Sold</label>
                </div>

                <div >
                
                    <label class="tp-margin1" style="width:200px;" >CovidShield Plus  &nbsp; &nbsp; <progress class="colored1" min="0" max="100" value="93" ></progress>&nbsp; &nbsp; 412 Sold</label>
                    
                </div>


                <div>
                
                    <label class="tp-margin2" style="width:200px;" >CG Termlife  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <progress class="colored2" min="0" max="100" value="53" ></progress>&nbsp; &nbsp; 340 Sold</label>
                </div>

