.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:   baseline ;
    margin-left: 100px;
    margin-top: -20px;
}
.overlay{
    position: absolute;
    top: 10px;
    bottom: 10px;
    margin-bottom: -20px;
    left: 0;
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 100px rgba(19, 19, 19, 0.521);
    

    
}
.content{
    background-color: aliceblue;
    width: 800px;
    height: 350px;
    padding: 20px;
    
  
}
.close{
    position: relative;
    top: -10px;
    left: 750px;
}

button {
    margin-left:50px ;
    padding: 10px 20px;
    border-radius: 30px;
  }

  .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  margin-left:880px;
  background-color: white;
  width: 600px;
  height: 300px;
  margin-top: 100px;
  border-radius: 10px;
          border-color: #0c0b0d;
          border-style: double;

}
.title{
    margin-top:-500px;
}
