<div class="report-container">
  <div class="report-header">
      <h1 class="recent-Articles">18 New Applicants</h1>
      <label for="cars">View All

              <select>
              <option value="Policies">Policies</option>
              <option>Health</option>
              <option>Documents</option>
              <option>Library</option>
          </select>
              </label>
  </div>
  <table>
      <tr>
        <th>#</th>
        <th>PolicyOwner</th>
        <th>prdtype</th>
        <th>Date</th>
        <th>Status</th>

      </tr>
      <tr>
        <td>DC03</td>
        <td>IsaiahHoward</td>
        <td>LifeProtect</td>
        <td>12-03-2021</td>
        <td>UW</td>
      </tr>
      <tr>
          <td>DC03</td>
          <td>IsaiahHoward</td>
          <td>LifeProtect</td>
          <td>12-03-2021</td>
          <td>UW</td>
      </tr>
      <tr>
          <td>DC03</td>
          <td>IsaiahHoward</td>
          <td>LifeProtect</td>
          <td>12-03-2021</td>
          <td>UW</td>
      </tr>
      <tr>
          <td>DC03</td>
          <td>IsaiahHoward</td>
          <td>LifeProtect</td>
          <td>12-03-2021</td>
          <td>UW</td>
      </tr>
      <tr>
          <td>DC03</td>
          <td>IsaiahHoward</td>
          <td>LifeProtect</td>
          <td>12-03-2021</td>
          <td>UW</td>
      </tr>
      <tr>
          <td>DC03</td>
          <td>IsaiahHoward</td>
          <td>LifeProtect</td>
          <td>12-03-2021</td>
          <td>UW</td>
      </tr>
    </table>
    
</div>











<!-- <html>
    <body>
       <div class="report-container">
            <div class="report-header">
            <table>

                <tr>
                  <th>UserId</th>
                  <th>UserName</th>
                  <th>FirstName</th>
                  <th>LastName</th>
                  <th>dob</th>
                  <th>status</th>
                  <th>userType</th>

                </tr>
                <tr *ngFor="let user of table">
                  <td>{{user.userId}}</td>
                  <td>{{user.userName}}</td>
                  <td>{{user.firstName}}</td>
                  <td>{{user.lastName}}</td>
                  <td>{{user.dob}}</td>
                  <td>{{user.status}}</td>
                  <td>{{user.userType}}</td>

                </tr>
              </table>
              </div>
            </div>
</body>
              </html>
               -->

