.swiper {
  height: 200px;
  width: 600px;
}

  .swiper-slide{
    display: flex;
    gap: 20px;
  }
  mat-icon{
    padding-right:55px;
    padding-bottom: 40px;
    font-size: 44px;
    /*color:rgb(12, 222, 44);*/
  }
  .style{
    color: red;

  }
 
.box-container {
  padding-top:150px;
  display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-right: 480px;
    
    
    }
    .box {
        height: 130px;
        width: 155px;
        background-color: white;
        /*box-shadow: 3px 3px 10px rgba(11, 39, 86, 0.751);*/
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        right:100px;
        border-radius: 25px;
        border: 2px ;
        }
        .box:hover {
        transform: scale(1.08);
        }
        .box img {
          width: 60px;
          height: 60px;
        
         
  
        }
        .box .text {
        color:rgb(48, 182, 223);
        }
        .box2.text{
          color:rgb(4, 14, 18);
        }
        .box4.text{
          color: #0c0b0d;
          
        }
        
        .topic {
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 2px;
        color: #111112;
        }
        .topic1{
          font-size: 15px;
        font-weight: 400;
        letter-spacing: 2px;
        color: #111112;

        }
        .topic2{
          font-size: 15px;
        font-weight: 400;
        letter-spacing: 2px;
        text-decoration: #111112;

        }
        
        .topic-heading {
        font-size: 50px;
        font-weight: 600;
        }
       


        .report-container {
          margin: 60px auto 0px auto;
          background-color: #ffffff;
          
          box-shadow: 3px 30px 10px rgb(188, 188, 188);
          padding: 0px 230px 20px 20px;
          margin-left:100px;
          margin-top:20px;
          }
          .report-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 20px 20px 10px 20px;
          }
          
          .recent-Articles {
           
          font-size: 20px;
          font-weight: 400;
          color: #0c0b0d;
          }
          
          .view {
          
          border-radius: 0px;
          background-color: #5500cb;
          /*color: rgb(190, 186, 186);*/
          color: #0c0b0d;
          font-size: 15px;
          border: none;
          cursor: pointer;
          }
          
          .report-body {
          overflow-x: auto;
          padding: 20px;
          }
          .report-topic-heading,
          .item1 {
          display:flex;
          justify-content: space-between;
          align-items: center;
          }
         
          table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 150%;
            padding-right: 500px;
          }
          
          td, th {
            /*border: 1px solid #151414;*/
            text-align: left;
            padding: 8px;
          }
          
          tr:nth-child(even) {
            background-color: #d6ebec;
          }
         img{
          padding-left:40px;
          top:100px;

         }
         /* .card{
          background-color: white;
          width:400px;
          height:150px;
          margin-left: 100px;
          margin-top:5px;
          border-radius: 25px;
        border: 2px ;
      }
      .card-subtitle{
          color:brown;
      } */
      h5{
       display: flex;
       display: contents;
      }
      /* .tp-margin{
        display: inline;
        color: #12091fc0;
        
      }
      .tp-margin1{

        display: inline;
        color: #12091fc0;
        
      }
      .tp-margin2{
        display: inline;
        color: #12091fc0;
      } */

      /*progress {
        width: 300px;
        height: 25px;
       background: red;
        border: 2px solid gray;
     }
     .colored{
      accent-color: red;
     }*/

     /* progress {
      width: 100px;
      height: 10px;
    }
    
    .colored {
      accent-color: rgba(255, 60, 0, 0.534);
    }
    .colored1{
      accent-color: rgb(55, 234, 55);
    }
    .colored2{
      accent-color: rgb(245, 245, 36);
    }
       */
      