header {
height: 70px;
  width: 100vw;
  
  padding: 0 30px;
  
  background-color: white;
  
position: fixed;
  
  z-index: 100;
  
  box-shadow: 0.063rem 0 1.25rem 0 rgb(196, 194, 194);
  
  display: flex;
  
  justify-content: space-between;
  
  align-items: center;
  
  }

header button {
  background-color: #70b6e6;
  color: white;
  font-size: 12px;
}

.sidebar {
  position: fixed;
  background-color: white;
  left:-250px;
  width: 200px;
  border-radius: 0%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.sidebar.open {
  left: 30px;
}
nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

 

h3{

  color:rgb(76, 12, 236);
}
h4{
  padding-left: -105%;
  color:rgb(10, 63, 142);
}


.form-control{
        
  width: 220px;
  height: 32px;
  border-radius: 30px;
}
.icon{
  padding-left:600px;
  color: #2196F3;
}


/* i.size {
  font-size: 30px;
  margin-block: 22px;
  color: black;
  margin-left: 200px; 
}
i {
  font-size: 30px;
  margin-block: 22px;
  color: black;
  margin-left: 70px; 
  padding-left: 20%;
} */
h1{
  margin-bottom: 0rem;
}
h3{
  color: blue;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  transition: 0.3s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.dark-mode {
  --bg-color: rgba(15, 2, 2, 0.715);
  --text-color: #fff;
}
h4:hover{
  color:violet;
  
}

body {
  font-family: 'Roboto', Arial, sans-serif;
}

.wrapper {
  width: 500%;
  max-width: 31.25rem;
  margin: 6rem auto;
}

.label {
  font-size: .625rem;
  font-weight: 400;
  
  text-transform: uppercase;
  letter-spacing: +1.3px;
  margin-bottom: 4rem;
}

.searchBar {

  
  
  width: 20%;
  display: flex;
  float:right;
  flex-direction: row;
  /*align-items: center;*/
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}
/*.search{

  border: 1px solid black;

  height: 25px;

  border-radius: 10px;

  text-align: center;

  width: 200px;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 3px;

}*/


  
