form{
    margin-left:100px;
    width:950px;
    padding-top:-10px;
    height: 200px;
    text-shadow: 0cap;


}
h1{
    margin-left:400px;
    padding-top:100px;
    display: flex;

}
img{
    margin-left:1050px;
    display: flex;
}
