body{
    background-color: beige;
}
.text {
    font-size: 20px;
    font-weight: 400;
    color:blue;
    background-color: #ece3e3dc;
    }
    h3{
        padding-right: 450px;
    }
    .logo{
       
        display: flex;
        float:  inline-start;        
    }
    .form-control{
        
        width: 12%;
        height: 22px;
        margin-block: 22px;
    }
    .btn {
        width: 5%;
        height: 22px;
        margin-block: 22px;
    }
    i.size {
        font-size: 30px;
        margin-block: 22px;
        color: black;
        margin-left: 200px; 
    }
    i {
        font-size: 30px;
        margin-block: 22px;
        color: black;
        margin-left: 70px; 
    }