
<div class="tab">
    <h1><a routerLink="/dashboard"> Back-></a></h1>
<table>
    
      
    <tr>
    <th>Name</th>
    <th>Last Contacted</th>
    <th>Product</th>
    <th>Email</th>
    <th>Contact</th>
    <th>LeadStorage</th>
    
</tr>
<tr>
    <td><img src="../assets/images/1.jpeg" class="rounded-circle"  width="22px" height="22px">Kirthi Gupta</td>
    <td>2 days ago</td>
    <td>Team Insurance</td>
    <td>xyz@gmail.com</td>
    <td>(91)9842042777</td>
    <td><span style="color:rgb(20, 201, 56)"> Interested <img src="../assets/images/email.png" class="rounded-circle"  width="22px" height="22px"></span></td>
</tr>
<tr>
    <td><img src="../assets/images/1.jpeg" class="rounded-circle"  width="22px" height="22px">Kirthi Gupta</td>
    <td>2 days ago</td>
    <td>Team Insurance</td>
    <td>xyz@gmail.com</td>
    <td>(91)9842042777</td>
    <td><span style="color:rgb(20, 201, 56)"> Interested <img src="../assets/images/email.png" class="rounded-circle"  width="22px" height="22px"></span></td>
</tr>
<tr>
    <td><img src="../assets/images/1.jpeg" class="rounded-circle"  width="22px" height="22px">Kirthi Gupta</td>
    <td>2 days ago</td>
    <td>Team Insurance</td>
    <td>xyz@gmail.com</td>
    <td>(91)9842042777</td>
    <td><span style="color:rgb(20, 201, 56)"> Interested <img src="../assets/images/email.png" class="rounded-circle"  width="22px" height="22px"></span></td>
</tr>
<tr>
    <td><img src="../assets/images/1.jpeg" class="rounded-circle"  width="22px" height="22px">Kirthi Gupta</td>
    <td>2 days ago</td>
    <td>Team Insurance</td>
    <td>xyz@gmail.com</td>
    <td>(91)9842042777</td>
    <td><span style="color:rgb(20, 201, 56)"> Interested <img src="../assets/images/email.png" class="rounded-circle"  width="22px" height="22px"></span></td>
</tr>
</table>
</div>