.today{
    background-color: rgb(24, 206, 238);
    border-collapse: separate;
    border-style: dashed;
    border-radius: 150px;
    border: 0px;
}
tr{
    display: contents;
    background-color: /*#d2cece*/white;
    

    
}
table{

    padding-left: 1050px;
    display: flex;
    height: fit-content;
    width: 450px;
    /*position: absolute;*/
    background-color: #ffffff;
    margin-left:790px;
    text-align: center;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 0px 40px 40px 40px;
    
    font-family: arial, sans-serif;
    border-collapse: separate;
    margin-top:-350px;
    border-spacing: 25px;
    
    border-radius: 20px;
    border: 2px;


         }
         h6{
          padding-left: 1050px;
    display: flex;
    height: fit-content;
    width: 450px;
    /*position: absolute;*/
    background-color: #ffffff;
    margin-left:790px;
    text-align: center;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 0px 40px 40px 40px;
    
    font-family: arial, sans-serif;
    border-collapse: separate;
    margin-top:-350px;
    border-spacing: 25px;
    
    border-radius: 20px;
    border: 2px;

         }
         .th{
            border-collapse: separate;
            border-style: dashed;
            
            
         }
         
        
        
        
          
        
         td {
           /* border: 1px solid #9b9494;*/
            text-align: center;
            /*width: fit-content;
            height: fit-content;
            border-radius: 10px;
            /*padding: 0px 5px 5px 5px;
            background-color: rgb(211, 222, 225);
            
            padding: 5px;*/
    
            
            
            
            
            
          }
          th{
            border: 1px solid #9b9494;
            text-align: center;
            width: fit-content;
            height: fit-content;
            border-radius: 10px;
            padding: 0px 5px 5px 5px;
            background-color: rgb(211, 222, 225);
            
           
   

          }
          
          
          
         tr:nth-child(even) {
            background-color: white;
          }
          .head{
            display: inline;
            font-display: initial;
            font-weight: 100px;
          }
          .i{
            margin-right: 32px;;
          }
          
          .mat-icon{
            font-weight: 100;
          }
          .box-container{
            height: 30px;
            width:150px;
            margin-left: 250px;
            margin-top: 5px;
            border: 0px solid black;
            border-radius: 6px;
            background-color: rgb(212, 232, 249);
          }